<!-- flask_quiz_app/templates/index.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Python Geliştirici Quizine Hoş Geldiniz</title>
</head>
<body>
    <h1>Python Geliştirici Quizine Hoş Geldiniz</h1>
    <form action="/start_quiz" method="post">
        <label for="username">Adınızı giriniz:</label>
        <input type="text" name="username" required>
        <button type="submit">Quize Başla</button>
    </form>

    <footer>
        <p>Gökhan ŞEN tarafından geliştirildi. Tüm hakları saklıdır. © 2025</p>
    </footer>
</body>
</html>
