<!-- flask_quiz_app/templates/quiz.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Quiz Sayfası</title>
</head>
<body>
    <h2>{{ username }} için Quiz</h2>
    <form action="/submit_answers" method="post">
        {% for question in questions %}
            <div>
                <p><strong>{{ loop.index }}. {{ question.text }}</strong></p>
                {% for choice in question.choices %}
                    <input type="radio" name="question_{{ question.id }}" value="{{ choice }}" required> {{ choice }}<br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Cevapları Gönder</button>
    </form>

    <footer>
        <p>Gökhan ŞEN tarafından geliştirildi. Tüm hakları saklıdır. © 2025</p>
    </footer>
</body>
</html>
