<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>En Yüksek Skorlar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h2>🏆 En Yüksek Skorlar</h2>

    <table>
        <thead>
            <tr>
                <th>🥇 Sıra</th>
                <th>👤 Kullanıcı Adı</th>
                <th>💯 Skor</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ result.user.username }}</td>
                <td>{{ result.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="button-container">
        <form action="/" method="get">
            <button>🏠 Ana Sayfa</button>
        </form>
        <form action="/quiz" method="get">
            <button>🔁 Yeniden Quiz Çöz</button>
        </form>
        {% if not show_all %}
        <form action="{{ url_for('quiz_bp.all_scores') }}" method="get">
            <button>📋 Tüm Skorları Gör</button>
        </form>
        {% endif %}
    </div>

    <footer>
        <p>Gökhan ŞEN tarafından geliştirildi. Tüm hakları saklıdır. © 2025</p>
    </footer>
</body>
</html>
